<!DOCTYPE html>
<html>
<head>
    <title>SmartVision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="card">
    <h1>SmartVision 👁️</h1>
    <p>Deepfake Detection using AI</p>

    <form method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
        <input type="file" name="image" accept="image/*" onchange="previewImage(event)" required>

        <img id="preview">

        <br>

        <button type="submit">Analyze Image</button>
    </form>

    <div class="loader" id="loader">🔄 Analyzing...</div>

    {% if result %}
        <div class="result {% if 'Fake' in result %}fake{% else %}real{% endif %}">
            {{ result }}
        </div>

        <div class="confidence-bar">
            <div class="confidence-fill" id="confidenceFill"></div>
        </div>
    {% endif %}

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>